<% include ../partials/header %>

<!--<img class="ui fluid image background" src="/images/background.png">-->
<div class="background">
    <div class="ui container">
        <h1>Bases Index</h1>
        <div class="ui container">
          <div class="three ui buttons">
            <button class="ui button">Add New</button>
            <button class="ui button">Specs</button>
            <button class="ui button">Support</button>
          </div>
        </div>
        <div class="ui three link cards">
          <% bases.forEach(function(base) { %>
            <div class="ui centered card">
              <div class="image">
                <img src="<%= base.image %>">
              </div>
              <div class="content">
                <div class="header"><%= base.name %></div>
                <div class="meta">
                  <a><%= base.type %></a>
                </div>
                <div class="description">
                  <%= base.description %>
                </div>
              </div>
              <div class="extra content" style="text-align: center">
                <span class="right floated">
                  <%= base.continent %>
                </span>
                <span class="left floated">
                  <i class="user icon"></i>
                  <%= base.points %>
                </span>
                <span>
                  <a href="/bases/<%= base._id %>">
                    <div class="mini ui basic button">
                      Edit
                    </div>
                  </a>
                </span>
              </div>
            </div>
          <% }) %>
    </div>
</div>


<% include ../partials/footer %>