<% include ../partials/header %>

<div class="background">
    <div class="ui container">
        <div class="ui padded segment">
            <div class="ui two column very relaxed grid">
                <div class="column">
                    <div class="image">
                        <img src="<%= base.image %>">
                    </div>
                </div>                
                <div class="column">
                    <h1><%= base.name %></h1>
                    <h2><%= base.type %></h2>
                    <p>
                        <%= base.description %>
                    </p>
                    <h3>
                        <%= base.continent %>
                    </h3>                    
                    <h3>
                        Points: <%= base.points %>
                    </h3>
                    <div class="ui buttons">
                        <a href="/bases/<%= base._id %>/edit"><button class="ui button yellow" href="/bases/<%= base._id %>/edit">Modify</button></a>
                        <div class="or"></div>
                        <form action="/bases/<%= base._id %>/?_method=DELETE" method="POST">
                            <button class="ui button red">Delete</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>