<% include ../partials/header %>

<!--<img class="ui fluid image background" src="/images/background.png">-->
<div class="background">
    <div class="ui container">
        <div class="ui segment">
            <div class="ui two column very relaxed grid">
                <div class="column">
                    <div class="image">
                        <img src="<%= base.image %>">
                    </div>
                </div>                
                <div class="column">
                    <h1><%= base.name %></h1>
                    <h2><%= base.type %></h2>
                    <p>
                        <%= base.description %>
                    </p>
                    <h3>
                        <%= base.continent %>
                    </h3>

                    <div class="two ui buttons">
                        <button class="ui button yellow">Edit</button>
                        <a class="ui button red" href="/bases/<%= base._id %>">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>